.time_display ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.time_display li{
    display: inline;
    font-family: "Noto Sans Japanese", sans-serif;
	font-size: 2em;
}

.time_display li::after{
    content: ":";
    color: rgb(9, 85, 160);
}

.time_display li:last-child::after{
    content: none;
}